html {
  height: 100%;
}

body {
  background-image: url(patternbackground.jpg);
  background-color: #7fc8f9;
  min-height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#nav{ 
  background-color: #000f28;
  border: 0.1em solid #f9f57f;
  border-left: none;
  border-right: none;
  margin-bottom: 4em;
}

#nav_list {
  font-family: fjalla one;
  font-size: 35px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 1em;
  display: flex;
  margin: 0;
}

.nav_link {
flex: 1 1 0;
text-align: center;
}

.nav_link a{
  text-decoration: none;
  color: #f9f57f;
  border: dotted;
  padding: 0.7em;
}

.nav_link a:hover{
  color: #f9d37f;
  background-color: #001233;
}

h1 {
  background-color: #f9f57f;
  text-align: center;
  font-family: 'Kirang Haerang', cursive;
  font-size: 10rem;
  border-style: double;
  border-color: #000f28;
  border-width: 10px;
  border-left: 0;
  border-right: 0;
  color: #000f28;
  margin: 0.4em 0;
}  

#content{
  display: flex;
  justify-content: space-around;
}

#left_panel, #right_panel{
  flex: 1 1 auto;
}

#left_panel{
  flex-grow: 2;
}

#left_panel > div {
  border-left: 0;
  margin-bottom: 4em;
}

#right_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right_panel img {
  flex: 0 1 auto;
}

h2{
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

#Morning{
  background-color: #f9d37f;
  border-style: solid;
  border-width: 1em;
  border-color: #000f28;
  margin: auto;
  padding: 2em;
  color: #000f28;
}

#Afternoon{
  background-color: #f9d37f;
  border-style: solid;
  border-width: 1em;
  margin: auto;
  padding: 2em;
  color: #000f28;
}

#Evening{
  background-color: #f9d37f;
  border-style: solid;
  border-width: 1em;
  margin: auto;
  padding: 2em;
  color: #000f28;
}

.block_schedule{
  list-style: none;
}

.time_segment{
  display: flex;
}

.time{
  font-weight: bold;
  flex: 1 1 0;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.schedule{
  flex: 7 1 0;
}

img {
  border-style: solid;
  border-width: 6px;
  border-color: #f9f57f;
}
#Arya1 {
  transform: rotate(100deg);
  margin-top: 5rem;
}

#Arya3 {
  transform: rotate(250deg);
  margin-top: 13rem;
}
#Arya4 {
  transform: rotate(95deg);
  margin-top: 14rem;
}

h3 {
  text-align: center;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 6em;
    color: #000f28;
}

#link_container {
margin: 2em;
text-align: center;
}
#link {
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  background-color: #000f28;
  border-style: dotted;
  border-color: #f9d37f;
  padding: 1em;
  color: #f9f57f;
}

#link:hover {
  color: #f9d37f;
  background-color: #001233;
}

#button {
  text-align: center;
  margin-top: 7em;
  background-color: #f9d37f;
  border-style: dotted;
  border-color: #000f28;
}

#button_link {
  background-color:#000f28;
  color: #f9f57f;
  font-family: 'Fjalla One', sans-serif;
  border-style: dotted;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
}


